@model JqueryDapper.ViewModels.SystemManage.SystemUsersPageViewModel
@{
    ViewBag.Title = "SystemManage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    <div class="wrap-container">
        <div class="content-box zerogrid">
            <div class="row wrap-box">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading float_right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                操作 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu float_right">
                                <li><a id="add">新增</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th width="40%">账号</th>
                            <th width="40%">密码</th>
                            <th width="20%">操作</th>
                        </tr>
                        </thead>
                        <tbody class="float_left">
                        @foreach (var item in Model.SystemUsers)
                        {
                            <tr>
                                <td data-name="LoginName">@item.LoginName</td>
                                <td data-name="Password">@item.Password</td>
                                <td>
                                    <a href="#" class="glyphicon glyphicon-pencil" data-operation="edit" data-operateid="@item.Id" title="编辑"></a>
                                    <a href="#" class="glyphicon glyphicon-trash" data-operation="delete" data-operateid="@item.Id" title="删除"></a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <div class="float_right">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="@(Model.Pagination.ShowPreviousPage ? "" : "disabled")">
                                    <a href="@(Model.Pagination.ShowPreviousPage ? Url.Action("Index", "SystemUser", new { pageNo = Model.Pagination.Previous }) : "javascript:void(0)")" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                @foreach (var pageNum in Model.Pagination.PageRange)
                                {
                                    if (pageNum == Model.Pagination.CurrentPage)
                                    {
                                        <li class="active"><a data-page="@pageNum" href="@Url.Action("Index", "SystemUser", new {pageNo = pageNum})">@pageNum</a></li>
                                    }
                                    else
                                    {
                                        <li ><a data-page="@pageNum" href="@Url.Action("Index", "SystemUser", new {pageNo = pageNum})">@pageNum</a></li>
                                    }
                                }
                                <li class="@(Model.Pagination.ShowNextPage ? "" : "disabled")" >
                                    <a href="@(Model.Pagination.ShowNextPage ?Url.Action("Index", "SystemUser", new { pageNo = Model.Pagination.Next }) : "javascript:void(0)")" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 模态框（Modal）-->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog"
     aria-labelledby="newModalLabel" aria-hidden="true">
    <form id="addForm">
        <input hidden name="Id"/>
        <div class="modal-dialog">
            <div class="modal-content col-md-6">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">
                        注册
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="text-left">
                            <label>账户:</label>
                            <input type="text" class="form-control" id="addLoginName" name="LoginName">
                        </div>
                        <div class="text-left">
                            <label>密码:</label>
                            <input type="text" class="form-control" name="Password">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 modal-footer">
                    <button type="button" class="btn btn-default btn-success" id="saveNew">保存</button>
                    <button type="button" class="btn btn-default btn-success" id="saveUpdate">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/Scripts/App/SystemManage/systemuser.js"></script>
}
